<!DOCTYPE html>
<html>
    <head>
        <title> Lyrics </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
        <script src="https://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>
         <div id='chart'> </div>
         <div class='container-fluid'>
             <div id="login" >
                 <h6>Need song recommendations? No problem!!</h6>
                 <button id="login-button" class="btn btn-primary" style="margin-bottom: 100 auto">Log in with Spotify</button>
             </div>
         </div>
         <div id='articles'> </div>

        <script type="text/javascript">

            function format_chart(data) {
              var formatted = [] ;
              Object.keys(data['data']).forEach(key => formatted.push([key, data.data[key]["percentages"] ]) );
              return formatted;
            }

            function build_chart(data) {
              Highcharts.chart('chart', {
                        chart: {
                          plotBackgroundColor: null,
                          plotBorderWidth: 0,
                          plotShadow: false
                        },
                        title: {
                          text: 'Top Words<br>In Lyrics',
                          align: 'center',
                          verticalAlign: 'middle',
                          y: 40
                        },
                        tooltip: {
                          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                          pie: {
                            dataLabels: {
                              enabled: true,
                              distance: -50,
                              style: {
                                fontWeight: 'bold',
                                color: 'white'
                              }
                            },
                            startAngle: -90,
                            endAngle: 90,
                            center: ['50%', '75%']
                          }
                        },
                        series: [{
                          type: 'pie',
                          name: 'Occurences',
                          innerSize: '50%',
                          data: format_chart(data)
                        }]
              });
            }

            function build_articles(data) {
              words = data.data
              var articles = '<div>';
              Object.keys(words).forEach(w => articles += '<div class ="panel">' + `${w}: occured ${words[w]["occurences"]} times in lyrics. Here is a related article ` + '<div class="panel-heading"> <h3 class="panel-title">' + `<a href=${words[w]["url"]}> ${words[w]["title"]} </a>` + '</h3> </div></div>'  )
              $('#articles').html(articles);
            }

            function load_top_words(query) {
                $.ajax({
                    url: 'articles',
                    data: {'query': query},
                    dataType: 'json',
                    type: 'GET',
                    success: function(data) {
                        //console.log(format_chart(data));
                        build_chart(data);
                        build_articles(data);
                    }
                });
            }
/*
           function get_playlist(t) {
               if (t) {
                   $.ajax({
                      url: 'https://api.spotify.com/v1/me/player/recently-played',
                      headers: {
                          'Authorization': 'Bearer ' + t
                      },
                      success: function(response) {
                          console.log('playlist');
                          console.log(response);
                      }
                  });
               }
            }
*/
                   /**
                     * Obtains parameters from the hash of the URL
                     * @return Object
                     */
                    function getHashParams() {
                        var hashParams = {};
                        var e, r = /([^&;=]+)=?([^&;]*)/g,
                                    q = window.location.hash.substring(1);
                        while ( e = r.exec(q)) {
                            hashParams[e[1]] = decodeURIComponent(e[2]);
                        }
                        return hashParams;
                   }
                   var params = getHashParams();
                   console.log(params);
                   var access_token = params.access_token ;
                   console.log(access_token);
                   //get_playlist(access_token);
              if (access_token) {
                   $.ajax({
                      url: 'https://api.spotify.com/v1/me/top/tracks',
                      headers: {
                          'Authorization': 'Bearer ' + access_token
                      },
                      success: function(response) {
                          console.log('playlist');
                          console.log(response);
                          var songs = [];
                          var tracks = response.items
                          tracks.forEach(t => songs.push(t.name))
                          console.log(songs);
                      }
                  });
               }

            $(document).ready(function(){
               var lyrics = "Bag bag bag bag bag run run run run pen pen pen pen science history grammar bottles cars.";
               //var lyrics = "cheese, cheese, cheese, cheese, gum, gum, gum, gum, honey, honey, honey, honey, honey, glue, blob, flake"
               load_top_words(lyrics);
                $('#login-button').click( function() {
                    var client_id = '7a848f3295c047b08e6e118c2121acbf';
                    var redirect_uri = 'http://localhost:5000/';
                    var scope = 'user-read-private user-read-email user-top-read';
                    var url = 'https://accounts.spotify.com/authorize';
                    url += '?response_type=token';
                    url += '&client_id=' + encodeURIComponent(client_id);
                    url += '&scope=' + encodeURIComponent(scope);
                    url += '&redirect_uri=' + encodeURIComponent(redirect_uri);
                    //url += '&state=' + encodeURIComponent(state);
                    //$(this).attr("href", url);
                    window.location = url;
                });

            });
        </script>
    </body>

</html>


